.loops(@col) when (@col < 15) {
  @index: @row * 15 + @col;
  .qemoji-@{index}{
    @y: @row * (-29px);
    @x: @col * (-29px);
    background-image: url('/src/images/QQ.png');
    background-position: @x @y;
    background-size: 434px 202px;
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: middle;
  }
  .loops((@col + 1));
}
.loop(@row) when (@row < 7) {
  .loops(0);
  .loop((@row + 1));
}
.loop(0);
