@import './emoji.less';
html, body {
  height: 100%;
}
#app {
  height: 100%;
  background: url('/src/images/bg1.jpg') center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.mainpage {
  height: 100%;
  width: 80% !important;
  margin: 0 auto !important;
  padding: 0;
}
.topbar {
  background: #fff;
  margin-bottom: 10px;
  padding:  15px;
  overflow: hidden;
}
.column.is-9 {
  height: 100%;
  overflow: scroll;
  & > div {
    padding: 0;
  }
  border-radius: 0 10px 10px 0;
  margin-top: 12px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdada;
  padding-bottom: 10px;;
  position: relative;
  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .avatar-wrap {
    position: relative;
  }
  .avatar-wrap::after {
    position: absolute;
    content: '';
    background: #0ff116;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    bottom: 5px;
    right: 6px;
  }
  .add-user {
    font-family: 'Serif';
    font-weight: bolder;
    cursor: pointer;
  }
}

.menubox {
  height: 100%;
  overflow: scroll;
  // background: linear-gradient(#4494d3, #D7ECF1);
  background: url('/src/images/bg2.jpg') no-repeat center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 12px;
}
.menu-list li ul {
  padding: 0 !important;
  border-left-width: 0 !important;
}
.menu-list li {
  a {
    font-size: 12px;
    font-weight: 600;
  }
  a.has-children {
    font-size: 14px;
  }
  a:hover {
    background: rgba(181, 201, 214, 0.888);
  }
  a img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
  }
  .avatar-wrap {
    position: relative;
  }
  .avatar-wrap[data-status="1"]::after {
    position: absolute;
    content: '';
    background: #0ff116;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    top: 18px;
    right: 8px;
  }
}
.menu-list .is-active {
  background: rgba(105, 126, 134, 0.888) !important;
}
.icon-close {
  padding: 30px;
  color: #9e9c9c;
}
.card-header-title {
  padding: 0.2rem !important;
}
.card-header-title {
  padding-left: 1.5rem !important;
}
.cols-3 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .cols-3-1 {
    min-width: 30%;
  }
  .cols-3-2 {
    min-width: 60%;
  }
  .cols-3-3 {
    min-width: 95%;
  }
}
.pagination {
  justify-content: flex-end !important;
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
    margin-right: 10px;
  }
  .input {
    width: 50px;
    vertical-align: middle;
  }
}
.data-table {
  font-size: 14px;
}

.friend-ul {
  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    vertical-align: middle;
  }
  list-style: none;
  li {
    border-bottom: 1px solid #d2d4d4;
    padding: 5px 10px;
    span {
      &:first-child {
        margin-right: 15px;
      }
      margin-right: 5px;
    }
  }
}
.modal-container {
  .modal-card-title {
    font-size: 16px !important;
    font-weight: 300;
  }
  .modal-card-head {
    height: 30px;
  }
  .close {
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
  }
  .modal-card-foot {
    .button {
      font-size: 14px;
    }
  }
}
