@import './cropper.min.less';

html, body {
  height: 100%;
}

#app {
  height: 100%;
  margin-top: 12px;
  background-image: url('/src/images/bg1.jpg');
}

.mainpage {
  height: 100%;
  width: 80% !important;
  margin: 0 auto !important;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdada;
  padding-bottom: 10px;;
  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .add-user {
    font-family: 'Serif';
    font-weight: bolder;
    color: #95f10a;
    cursor: pointer;
  }
}

.menubox {
  height: 100%;
  width: 200px;
  padding: auto 0;
  overflow: scroll;
  background: linear-gradient(#4494d3, #D7ECF1);
}
.menu-list li ul {
  padding: 0 !important;
  border-left-width: 0 !important;
}
.menu-list li {
  a:hover {
    background: #88c2ec;
  }
  a img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.menu-list .is-active {
  background: #25a0f3 !important;
}
.icon-close {
  padding: 30px;
  color: #9e9c9c;
}
.card-header-title {
  padding: 0.2rem !important;
}
.card-header-title {
  padding-left: 1.5rem !important;
}
