.attr-title {
  display: inline-block;
  width: 110px;
  font-weight: 500;
  padding-right: 20px;
  text-align: right;
  color: #b1aeae;
}
.attr-content {
  display: inline-block;
}
.info-item {
  border-bottom: 1px solid #ebe8e8;
  margin: 10px;
  padding-bottom: 10px;
}
.attr-opt {
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
  &[name=close] {
    color:red;
  }
  &[name=check] {
    color:#0cf7b0;
  }
}
.attr-value {
  input {
    font-size: 16px;
    height: 30px;
    width: 100px;
    border: none;
    border-bottom: 1px solid #b1b0b0;
    outline: none;
    overflow: auto;
  }
}
