
.room {
  height: 100%;
  overflow: hidden;
  .chatInfo {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
  }
  .message {
    height: 450px;
    margin: 0 !important;
    overflow: scroll;
    padding: 10px 20px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
  }
  .textarea {
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 400px;
    background: rgba(107, 106, 106, 0.404);
  }
  .msginfo-left, .msginfo-right{
    clear: both;
    margin-bottom: 14px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #b4b4b4;
    }
    & > div {
      vertical-align: text-top;
      max-width: 600px;
      display: inline-block;
      border-radius: 10px;
      min-width: 60px;
      padding: 5px 10px;
      overflow: scroll;
    }
  }
  .msginfo-right {
    float: right;
    div {
      margin-right: 10px;
      background: #56a5b3;
    }
  }
  .msginfo-left {
    float: left;
    div {
      margin-left: 10px;
      background: #264b38;
      color: white;
    }
  }
  .room-bottom {
    margin-top: 10px;
    text-align: right;
    span {
      margin-right: 5px;
    }
  }
}
