.group-detail {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  .group-lt {
    height: 499px;
    background: #888888;
    flex: 1;
  }
  .group-rt {
    height: 499px;
    flex: 2;
  }
  .graph {
    text-align: center;
    p {
      font-weight: 400;
      font-size: 20px;
    }
  }
  .group-attr {
    .attr-title {
      color: #b1aeae;
      vertical-align: text-top;
      font-weight: 500;
    }
  }
  .attr-label {
    color: #b1aeae;
    vertical-align: text-top;
    font-weight: 500;
    padding-left: 36px;
  }
}
.group-detail-modal {
  .modal-card-body {
    padding: 0;
  }
}

#group-lt-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
  p {
    font-size: 18px;
    font-weight: 500;
    color: #c3c3c3;
  }
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rebeccapurple;
  }
} 

#group-lt-bottom {
 text-align: center;
 margin-top: 20px;
 .button {
   margin-right: 5px;
 }
}

