{% extends './common/layout.html' %}
{% block title %}主页{% endblock %}
{% block body %}

  <div class="container admin-con" style="margin-top: 100px;">
    <div class="card">
      <div class="card-content">
        <form method="post" action="/clean">
          <legend>消息设置</legend>
          <div class="field is-horizontal">
            <div class="field-label is-small">
              <label for="msg_time" class="label">消息数据保留时长</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input is-small" id="msg_time" name="msg_time" type="number" placeholder="Please input number">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-small">
              <label for="msg_time_unit" class="label">单位</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="msg_time_unit" name="msg_time_unit">
                      <option value="s">秒</option>
                      <option value="m">分</option>
                      <option value="h">小时</option>
                      <option value="d">天</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <legend>文件设置</legend>
          <div class="field is-horizontal">
            <div class="field-label is-small">
              <label for="file_time" class="label">文件保留时长</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <input class="input is-small" id="file_time" name="file_time" type="number" placeholder="Please input number">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-small">
              <label for="file_time_unit" class="label">单位</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="file_time_unit" name="file_time_unit">
                      <option value="s">秒</option>
                      <option value="m">分</option>
                      <option value="h">小时</option>
                      <option value="d">天</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="button is-small is-success">应用</button> 
          </div>
        </form>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;"><a href="/logout" class="button is-danger is-small">登出</a></div>
  </div>

{% endblock %}
